# 监听端口80，为/api路径反向代理到http://127.0.0.1:3000，其他路径返回静态文件
:80 {
	handle_path /api/* {
		reverse_proxy localhost:3000
	}
	handle /* {
		file_server
		root * /srv/chatgpt
		try_files {path} /index.html
	}
}

# 监听端口81，为/backend路径反向代理到http://127.0.0.1:3000/backend，其他路径返回静态文件
:81 {
	handle_path /api/* {
		rewrite /backend/*
		reverse_proxy localhost:3000/backend
	}
	handle /* {
		file_server
		root * /srv/admin
		try_files {path} /index.html
	}
}
